/*** Hide Tab Close buttons ***/
.tab-stack>.tab-content>.tab-close-button {
	/* 	visibility: collapse !important; */
	display: none !important;
}

:root {
	/* colour defaults */
	--accent-default: #FF4500;
	--accent-dark: #CD3700;
	--accent-light: #FF5F23;

	/* overrides for things themes couldn't do */
	--color-accent-primary: var(--accent-default) !important;
	--color-accent-primary-active: var(--accent-dark) !important;
	--in-content-primary-button-background: var(--accent-default) !important;
	--in-content-primary-button-background-hover: var(--accent-light) !important;
	--link-color-hover: var(--accent-light) !important;
	--urlbarView-highlight-background: var(--accent-default) !important;
	--newtab-primary-action-background: var(--accent-default) !important;
	--toolbar-field-focus-border-color: var(--accent-default) !important;
	--in-content-primary-button-background-active: var(--accent-dark) !important;
	--color-accent-primary-hover: var(--accent-light) !important;
	--link-color: var(--accent-default) !important;
	--focus-outline-color: var(--accent-default) !important;
	--toolbarbutton-icon-fill-attention: light-dark(var(--accent-default), var(--accent-default)) !important;
}

.urlbarView-row {
	&[selected] {
		--urlbarView-highlight-background: var(--accent-default) !important;
	}
}

.urlbarView-url {
	.urlbarView-row:not([selected]) & {
		color: var(--accent-default) !important;
	}
}

@-moz-document url("about:newtab") {
	h1.logo-and-wordmark-wrapper {
		display: none !important;
	}

	main.newtab-main {
		justify-content: end !important;
	}
}
