[Unit]
Description=Git push for repository /%I
After=network-online.target
After=ssh-agent.service

[Service]
Type=oneshot
WorkingDirectory=/%I
ExecStart=/usr/bin/env nu --no-config-file --commands 'git add -A; try { git diff --cached --quiet; } catch { git commit -m $$"[sync] (sys host | get hostname)::(date now | format date "%%F@%%T")"; }; try { git push origin main; } catch { notify-send "Shutdown push failed (%I)" -u critical; }'
