[Unit]
Description=Git push for repository /%I

[Service]
Type=oneshot
WorkingDirectory=/%I
ExecStart=/usr/bin/env nu --no-config-file --commands 'git add -A; try { git diff --cached --quiet; } catch { git commit -m $$"[sync] (hostnamectl hostname)@(date now)"; }; try { git push origin main; } catch { notify-send "Shutdown push failed (%I)" -u critical; }'
