[include]
	path = ~/.config/delta.gitconfig
[user]
	email = luluklzde@gmail.com
	name = Callisto95
	signingkey = ~/.ssh/github-sign
[init]
	defaultBranch = main
[credential]
	helper = store
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[pull]
	rebase = false
	ff = true
[gpg]
	format = ssh
[commit]
	gpgSign = true
